<web-app>

<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>LoginServlet.Controller.Login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/welcome</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Buy</servlet-name>
<servlet-class>BuyServlet.Controller.Buy</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Buy</servlet-name>
<url-pattern>/buy</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>thank</servlet-name>
<servlet-class>ThanksServlet.Thanks</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>thank</servlet-name>
<url-pattern>/confirm</url-pattern>
</servlet-mapping>

</web-app>